<h1><%= "#{@start_date.strftime('%d/%m/%Y')} to #{@end_date.strftime('%d/%m/%Y')}" %></h1>
<% @dates.each do |date| %>
  <h2><%= date.strftime('%A - %d/%m')%></h2>
  <% 24.times do |hour| %>
    <% appointment = find_appointment(@events, date, hour) %>
    <%= "#{hour}:00 - #{hour + 1}:00" %>
    <% if appointment %>
      <%= render appointment %>
    <% else %>
      <a href="#' data-date="<%= DateTime.new(date.year, date.month, date.day, hour) %>">Create appointment</a>
    <%end %>
  <% end %>
<% end %>
