<%= form_for(@appointment, remote: true) do |f| %>
  <%= f.hidden_field :date, value: @appointment.date %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit "Create Appointment", class: "btn btn-primary" %>
  </div>
<% end %>
